<a href="https://colab.research.google.com/github/yanikal/python-course/blob/main/GoodBelly_dataset_answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
path='C:\\Users\\LENOVO\\Desktop\\NPOWER Materials\\Vancouver resources\\Course 7\\Week 1\GoodBelly-DataSet-Regression.xlsx'
df=pd.read_excel(path)
df.head()

,Date,Region,Store,Units Sold,Average Retail Price,Sales Rep,Endcap,Demo,Demo1-3,Demo4-5,Natural,Fitness
0,2010-05-04,FL,Biscayne (aka Aventura),150.702088,4.390000,0,0,0,0,0,1,0
1,2010-05-11,FL,Biscayne (aka Aventura),197.403797,3.997692,0,0,0,0,0,1,0
2,2010-05-18,FL,Biscayne (aka Aventura),235.106172,3.809231,0,0,0,0,0,1,0
3,2010-05-25,FL,Biscayne (aka Aventura),226.692427,3.835000,0,0,0,0,0,1,0
4,2010-06-01,FL,Biscayne (aka Aventura),257.688151,3.902500,0,0,0,0,0,1,0

In [ ]:
#Q1 - Give summary of numeric type of columns in dataset?

In [ ]:
df.dtypes

Date                    datetime64[ns]
Region                          object
Store                           object
Units Sold                     float64
Average Retail Price           float64
Sales Rep                        int64
Endcap                           int64
Demo                             int64
Demo1-3                          int64
Demo4-5                          int64
Natural                          int64
Fitness                          int64
dtype: object

In [ ]:
#Q2 Calc STD of columns in dataset

In [ ]:
df.std()

C:\Users\LENOVO\AppData\Local\Temp/ipykernel_13628/3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Date                    22 days 03:27:15.853934319
Units Sold                              110.998731
Average Retail Price                      0.463828
Sales Rep                                 0.497695
Endcap                                    0.191843
Demo                                      0.234661
Demo1-3                                   0.363522
Demo4-5                                   0.264705
Natural                                   0.975092
Fitness                                   1.592789
dtype: object

In [ ]:
#Q3 mean of first 50 records in dataset

In [ ]:
df.head(50).mean()

C:\Users\LENOVO\AppData\Local\Temp/ipykernel_13628/1648960742.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.head(50).mean()
C:\Users\LENOVO\AppData\Local\Temp/ipykernel_13628/1648960742.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.head(50).mean()

Units Sold              186.280727
Average Retail Price      4.128036
Sales Rep                 0.000000
Endcap                    0.100000
Demo                      0.000000
Demo1-3                   0.000000
Demo4-5                   0.040000
Natural                   1.300000
Fitness                   1.560000
dtype: float64

In [ ]:
#Q4 What are thecolumn names

In [ ]:
df.columns

Index(['Date', 'Region', 'Store', 'Units Sold', 'Average Retail Price',
       'Sales Rep', 'Endcap', 'Demo', 'Demo1-3', 'Demo4-5', 'Natural',
       'Fitness'],
      dtype='object')

In [ ]:
#Q - Number of elements in dataset

In [ ]:
df.size

16632

In [ ]:
#Q- No. of records this dataset has

In [ ]:
len(df.index)

1386

In [ ]:
#Q type of column dataset has

In [ ]:
df.dtypes

Date                    datetime64[ns]
Region                          object
Store                           object
Units Sold                     float64
Average Retail Price           float64
Sales Rep                        int64
Endcap                           int64
Demo                             int64
Demo1-3                          int64
Demo4-5                          int64
Natural                          int64
Fitness                          int64
dtype: object